<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="redisearch-php Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
<php>
        <env name="REDIS_LIBRARY" value="Predis" />
        <env name="REDIS_HOST" value="localhost" />
        <env name="REDIS_PORT" value="6381" />
        <env name="REDIS_DB" value="0" />
        <env name="LOG_FILE" value="./tests.log" />
        <env name="IS_LOGGING_ENABLED" value="true" />
    </php>
</phpunit>
